form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input {
  width: 100%;
  font-size: 14px;
  border-color: #D1D5DB;
  border-radius: 8px;
  padding-block: 10px;
  border-width: 1px;
  color: #1F2937;
  padding-inline: 14px;
  font-weight: 400;
  background-color: #FFFFFF;
}
button {
  width: 100%;
  border-radius: 8px;
  padding-block: 10px;
  font-weight: 600;
  padding-inline: 14px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #2563EB;
}
label {
  color: #1F2937;
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 14px;
}
