button {
  align-self: flex-end;
  background-color: #2563EB;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding-block: 10px;
  padding-inline: 14px;
  padding: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
}
input {
  background-color: #FFFFFF;
  border-color: #D1D5DB;
  border-radius: 8px;
  border-width: 1px;
  box-sizing: border-box;
  color: #1F2937;
  font-size: 14px;
  font-weight: 400;
  padding-block: 10px;
  padding-inline: 14px;
  padding: 0.5rem;
  width: 100%;
}
label {
  color: #1F2937;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
